<div class="container p-3 m-12 justify-content-center">
  <div class="card shadow p-5">
    <div class="card-body w-50 m-auto">
      <h5 class="card-title mb-2 text-center">
        Patient Appointment Booking Form
      </h5>
      <h6 class="card-subtitle mb-4 text-muted text-center">
        Please fill all the fields
      </h6>
      <div class="row">
        <form (onSubmit)="onSubmit()" #registerpatient="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Patient Name</label>
            <input
              type="text"
              [(ngModel)]="patient.name"
              class="form-control"
              id="name"
              name="name"
              placeholder="Please enter patient name"
              required
              #name="ngModel"
            />
          </div>
          <div class="mb-3">
            <label for="visitedDoctor" class="form-label"
              >Assigned Doctor</label
            >
            <select
              class="form-select"
              name="visitedDoctor"
              id="visitedDoctor"
              [(ngModel)]="patient.visitedDoctor"
              #visitedDoctor="ngModel"
            >
              <option selected>--Select--</option>
              <option
                [value]="doc.registrationNumber"
                *ngFor="let doc of docList"
              >
                {{ doc.name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="visitDate" class="form-label">Appointment Date</label>
            <input
              type="date"
              [(ngModel)]="patient.visitDate"
              class="form-control"
              id="visitDate"
              name="visitDate"
              placeholder="Please select appointment date"
              required
              min="2022-08-30"
              max="2022-12-31"
              #visitDate="ngModel"
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Doctor prescription</label>
            <input
              type="text"
              [(ngModel)]="patient.prescription"
              class="form-control"
              id="prescription"
              name="prescription"
              placeholder="Please enter doctor prescription"
              required
              #prescription="ngModel"
            />
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">
              Book Appointment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
