<div class="container p-3 m-12 justify-content-center">
  <div class="card shadow p-5">
    <div class="card-body w-50 m-auto">
      <h5 class="card-title mb-2 text-center">Patient Appointment Booking Form</h5>
      <h6 class="card-subtitle mb-4 text-muted text-center">
        Please fill all the fields
      </h6>
      <div class="row">
        <form (onSubmit)="onSubmit()" #registerpatient="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Patient Name</label>
            <input
              type="text"
              [(ngModel)]="patient.name"
              class="form-control"
              id="name"
              name="name"
              placeholder="Please enter patient name"
              required
              #name="ngModel"
            />
          </div>
          <div class="mb-3">
            <label for="visitedDoctor" class="form-label">Assigned Doctor</label>
            <select
              class="form-select"
              name="visitedDoctor"
              id="visitedDoctor"
              [(ngModel)]="patient.visitedDoctor"
              #visitedDoctor="ngModel"
            >
              <option selected>--Select--</option>
              <option value="AP">Andhra Pradesh</option>
              <option value="AR">Arunachal Pradesh</option>
              <option value="AS">Assam</option>
              <option value="BR">Bihar</option>
              <option value="CT">Chhattisgarh</option>
              <option value="GA">Goa</option>
              <option value="GJ">Gujarat</option>
              <option value="HR">Haryana</option>
              <option value="HP">Himachal Pradesh</option>
              <option value="JK">Jammu and Kashmir</option>
              <option value="JH">Jharkhand</option>
              <option value="KA">Karnataka</option>
              <option value="KL">Kerala</option>
              <option value="MP">Madhya Pradesh</option>
              <option value="MH">Maharashtra</option>
              <option value="MN">Manipur</option>
              <option value="ML">Meghalaya</option>
              <option value="MZ">Mizoram</option>
              <option value="NL">Nagaland</option>
              <option value="OR">Odisha</option>
              <option value="PB">Punjab</option>
              <option value="RJ">Rajasthan</option>
              <option value="SK">Sikkim</option>
              <option value="TN">Tamil Nadu</option>
              <option value="TG">Telangana</option>
              <option value="TR">Tripura</option>
              <option value="UT">Uttarakhand</option>
              <option value="UP">Uttar Pradesh</option>
              <option value="WB">West Bengal</option>
              <option value="AN">Andaman and Nicobar Islands</option>
              <option value="CH">Chandigarh</option>
              <option value="DN">Dadra and Nagar Haveli</option>
              <option value="DD">Daman and Diu</option>
              <option value="DL">Delhi</option>
              <option value="LD">Lakshadweep</option>
              <option value="PY">Puducherry</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="visitDate" class="form-label">Appointment Date</label>
            <input
              type="date"
              [(ngModel)]="patient.visitDate"
              class="form-control"
              id="visitDate"
              name="visitDate"
              placeholder="Please select appointment date"
              required
              min="2022-08-30"
              max="2022-12-31"
              #visitDate="ngModel"
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Doctor prescription</label>
            <input
              type="text"
              [(ngModel)]="patient.prescription"
              class="form-control"
              id="prescription"
              name="prescription"
              placeholder="Please enter doctor prescription"
              required
              #prescription="ngModel"
            />
          </div>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-primary"
              (click)="onSubmit()"
              data-bs-dismiss="modal"
            >
              Book Appointment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
