<div class="container p-3 m-12 justify-content-center">
  <div class="card shadow p-5">
    <div class="card-body w-50 m-auto">
      <h5 class="card-title mb-2 text-center">Search Doctor Details</h5>
      <h6 class="card-subtitle mb-4 text-muted text-center">
        Please select the doctor name
      </h6>
      <div class="row">
        <form (onSubmit)="onSubmit()" #searchDoctor="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Doctor Name</label>
            <select
              class="form-select"
              name="name"
              id="name"
              [(ngModel)]="selectedDoctor.name"
              #name="ngModel"
            >
              <option selected>--Select--</option>
              <option [value]="doc" *ngFor="let doc of doctorList">
                {{ doc }}
              </option>
            </select>
          </div>
          <div class="text-center mb-5">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">
              Fetch Details
            </button>
          </div>
          <div class="p-3 m-3 text-left">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">Reg No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Specialization</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ doctorInfo.registrationNumber }}</td>
                  <td>{{ doctorInfo.name }}</td>
                  <td>{{ doctorInfo.age }}</td>
                  <td>{{ doctorInfo.gender }}</td>
                  <td>{{ doctorInfo.specialization }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
