<div class="container p-3 m-12 justify-content-center">
  <div class="card p-5 text-center">
    <div class="card-body w-50 m-auto">
      <h5 class="card-title mb-2">Welcome to the Hospital Management Portal</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Please select from below pages
      </h6>
      <div class="row justify-content-center">
        <a
          routerLink="/register-doctor"
          class="btn btn-primary mb-2"
          type="submit"
          >Register Doctor</a
        >
        <a
          routerLink="/register-patient"
          class="btn btn-secondary mb-2"
          type="submit"
          >Register Patient</a
        >
        <a
          routerLink="/search-doctor"
          class="btn btn-success mb-2"
          type="submit"
          >Search Doctor</a
        >
        <a
          routerLink="/search-patient"
          class="btn btn-warning mb-2"
          type="submit"
          >Search Patient</a
        >
      </div>
    </div>
  </div>
</div>
